In [1]:
x = "abc"
print(x)

abc

In [ ]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York",
}

print(person)
print(person["name"])